# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
env/
ENV/
venv/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Model files
final_model.tflite

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# PIP dependency files
pip-log.txt
